body{
    background-color : black;
    display: block;
    margin:0;
    padding:0;
    border:0;
}
.main_container{
   // margin: 5px;
 //   min-width: 1024px;
    
    header{
        .brand_logo{
            float:left;
            width:40px;
            margin-right:20px;
        }
    }

    .main{
        color:white;
        padding: 10px;
      //  min-height:600px;
        .comingsoon{
            margin-left: 150px;
            display:inline-block;
            vertical-align: top;
        }
        .index_form{
            display:inline-block;
            margin: 50px 0 0 300px;
        }
        padding-bottom:200px;
    }
    
    footer{
        #copy_right{
            float : right;
            bottom:0;
            background-color:black;
            color:white;
            font-size : 70%;
            clear:both;
        }
    }

    
    
}